.footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-app {
  font-weight: 600;
  text-align: center;

  &__text {
    display: block;
    text-align: center;
  }

  &__img {
    margin-top: 12px;
  }
}

.footer-menu {
  font-weight: 600;

  &__row {
    display: flex;
    align-items: flex-start;

    &--second {
      margin-top: 70px;
    }
  }

  &__item {
    width: 25%;
    text-align: center;
  }

  &__link {
    color: #000000;
  }
}

.footer-contacts {
  &__text {
    &--mt {
      margin-top: 50px;
    }
  }

  &__support-text {
    color: #000000;

    font-weight: 600;
  }

  &__phone {
    margin-top: 4px;
    display: block;
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .footer-menu {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  
    &__row {
      flex-direction: column;

      &--second {
        margin-top: 0;
        margin-left: 60px;
      }
    }

    &__item {
      margin-bottom: 16px;
      width: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer-contacts {
    margin-top: 32px;
    text-align: center;
  }
}
