header {
  position: fixed;
  font-family: "Museo300";
  background-color: #fff;
  z-index: 9;
  width: 100%;
  top: 0;
}

.header-favorites,
.header-cart {
  position: relative;
}

.header-favorites__counter,
.header-cart__counter {
  position: absolute;
  right: -50%;
  top: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #ff0900;
  border-radius: 50%;
}

.hl-lg-w {
  display: flex;
  align-items: center;
}

.hl-lg-a img {
  width: 133px;
}

.hl-lg-logo-lombard {
  margin-left: 100px;
  width: 158px;
}

.hl-lg-a:focus {
  outline: none;
}

.hl-lg-input-wrapper {
  position: relative;

  &::after {
    content: url('~@/assets/images/search-grey.svg');
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 35%;
    right: 12px;
    transform: translateY(-50%);
  }

  &.--desktop {
    margin-left: 100px;
    width: 50%;
  }
}

.hl-lg-input {
  width: 100%;
  padding-left: 6px;
  height: 33px;
  border-radius: 4px;
  border: 1px solid #EAEAEA;

  font-size: 16px;
  color: #AFAFAF;
}

.mobile-input-wrapper {
  display: none;
}

.hr-w-ic-like {
  margin-right: 15px;
}

.hr-w-ic-cart {
  margin-right: 15px;
}

.hr-w-ic-like img {
  width: 18px;
}

.hr-w-ic-cart img {
  width: 18px;
}

.hr-w-ic-login img {
  width: 18px;
}

.hr-w-right {
  padding: 20px 0;
}

.hr-w-right a:hover {
  text-decoration: none;
}

a.hr-w-ic-cart {
  text-decoration: none;
}

.hr-w {
  display: flex;
  justify-content: flex-end;
}

.h-top {
  padding-top: 22px;
  padding-bottom: 10px;
}

.h-app-suggestion {
  display: none;
}

.h-bot {
  border-top: 1px solid #eaeaea;
}

.h-bot nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.h-bot nav ul li a {
  padding: 12px 4px;
  color: #3d3d3d;
  display: block;
  transition: 0.2s linear;
  font-family: "Museo300";
  font-size: 14px;
}

.h-bot nav ul li a:hover {
  color: #0b80c4;
  transition: 0.2s linear;
  text-decoration: none;
  background-color: transparent;
}

.h-bot nav ul li a:focus {
  outline: none;
  text-decoration: none;
}

#city_dropdown_2 {
  display: none;
}

#burg {
  display: none;
}

.h-bot nav ul li.header-second-list a {
  padding: 0 0 5px;
  font-family: "Museo300";
}

.h-bot nav {
  padding: 0 75px;
}

.h-advantages {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFEE9F;

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 65px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .hl-lg-logo-lombard {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }

  .h-bot {
    display: none;
  }

  #city_dropdown_mob {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    padding: 20px 0 0;
    z-index: 9;
    top: 125px;
    left: 5px;
  }

  #burg {
    display: inline-block;
    padding: 6px 0 0;
  }

  #burg a {
    display: block;
    width: 55px;
  }

  #burg span {
    display: flex;
    margin: 6px;
    width: 25px;
    height: 2px;
    background-color: #000;
    z-index: 999;
  }

  .hl-lg-w {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-top {
    padding: 15px 0;
  }

  .h-app-suggestion {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    background-color: #F2E28A;
    display: flex;
    justify-content: space-between;

    &__button {
      appearance: none;
      background: transparent;
      border: none;
    }

    &__text  {
      display: block;
      margin: 0 8px;
      text-align: center;
    }
  }

  .hl-lg-a img {
    width: 100%;
    max-width: 133px;
  }

  .mobile-input-wrapper {
    display: block;
    margin-top: 20px;
  }

  .hl-lg-input-wrapper {
    &.--desktop {
      display: none;
    }

    &.--mobile {
      width: 100%;
    }
  }

  .hr-w-ic-login {
    display: none;
  }

  .hr-w-right {
    padding: 10px 0;
  }

  .hr-w-ic-like {
    margin: 0 20px 0 0;
  }

  .hr-w-ic-cart {
    margin: 0;
  }

  .hr-w-ic-like img {
    width: 20px;
  }

  .hr-w-ic-cart img {
    width: 20px;
  }

  .hr-lc-w-mob .hr-lc-w {
    display: inline-block;
    padding: 0;
  }

  .hr-lc-w-mob {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: scroll;
  }

  .mobile-menu {
    width: 384px;
    background: #FFFFFF;

    &__header {
      padding: 14px;
      display: flex;
      align-items: center;
      background: #F2E28A;
    }

    &__button {
      appearance: none;
      border: none;
      background: transparent;
    }

    &__title {
      flex: 1;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

    &__nav {
      height: 100%;
      background: #ffffff;
    }

    &__item {
      padding: 20px 14px;
      border-bottom: 1px #EAEAEA solid;
    }

    &__link {
      font-size: 20px;
      font-weight: 700;
      color: #000000;
    }
  }
}

@media screen and (max-width: 400px) {
  .mobile-menu {
    width: 100%;
  }
}