@import "./fonts.scss";

a,
p,
li,
span,
label,
input,
div,
button {
  font-family: "Museo300";
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Museo100";
}

.h1 {
  font-size: 48px;
  margin: 40px 0 30px;
  font-family: "Museo100";
}

.h2 {
  margin: 40px 0 30px;
  font-size: 48px;
  font-family: "Museo100";
}

.h3 {
  font-size: 28px;
  font-family: "Museo100";
}

.p-grey {
  font-size: 16px;
  color: grey;
  text-align: left;
}

.p-regular {
  font-family: "Museo300";
  margin-bottom: 20px;
  font-size: 16px;
}

.p-bold {
  font-family: "Museo300";
  margin-bottom: 20px;
  font-size: 16px;
}

.ul-regular {
  margin-bottom: 20px;
}

.li-regular {
  font-family: "Museo300";
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: disc;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 26px;
    margin: 25px 0;
  }
  .h2 {
    font-size: 21px;
  }
}

@import "./header.scss";
@import "./pages/home.scss";
@import "./footer.scss";
@import "./dropdown.scss";
@import "./pages/shops.scss";
@import "./pages/personal-cabinet.scss";
@import "./pages/registration.scss";
@import "./pages/favorites.scss";
@import "./pages/category.scss";
@import "./pages/product.scss";
@import "./pages/cart.scss";
@import "./pages/delivery-payment.scss";
@import "./pages/return-exchange.scss";
@import "./pages/faq.scss";
@import "./pages/about-company.scss";
@import "./pages/contacts.scss";
@import "./shared.scss";

