.category-head-section {
  padding: 0;
  margin: 117px 0 0;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.filter-wrap-left ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.filter-wrap-left li {
  margin: 0 18px 0 0;
  font-family: "Museo300";
}

.filter-wrap-left li i {
  font-size: 11px;
  margin-left: 3px;
}

.filter-desktop-line {
  padding: 15px 0;
  margin: 20px 0 30px;
}

.filter-mobile-wrapper {
  width: 100%;
}

.filter-mobile-line {
  display: none;
}

@media screen and (max-width: 768px) {
  .category-head-section {
    margin: 73px 0 0;
  }

  .filter-desktop-line {
    display: none;
  }

  .filter-mobile-line {
    display: block;
    border: 1px solid #eaeaea;
    padding: 10px 0;
    margin: 30px 0 40px;
  }

  .filter-mobile-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .filter-mobile-left-wrap {
    width: 50%;
  }

  .filter-mobile-right-wrap {
    width: 50%;
  }

  .filter-mobile-sort {
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #eaeaea;
  }

  .filter-mobile-filters {
    text-align: center;
    font-size: 16px;
  }

  .filter-mobile-wrapper i {
    color: #959595;
    margin-right: 5px;
    font-size: 16px;
  }
}
