.category-head-section {
  padding: 0;
  margin: 190px 0 0;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.filter-wrap-left ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.filter-wrap-left li {
  margin: 0 18px 0 0;
  font-family: "Museo300";
}

.filter-wrap-left li i {
  font-size: 11px;
  margin-left: 3px;
}

.filter-wrap-right i {
  font-size: 11px;
  margin-left: 3px
}

.filter-desktop-line {
  padding: 15px 0;
  margin: 20px 0 30px;
}

.filter-mobile-wrapper {
  width: 100%;
}

.filter-mobile-line {
  display: none;
}

@media screen and (max-width: 768px) {
  .category-head-wrap {
    text-align: center;
  }

  .category-head-section {
    margin: 200px 0 0;
  }

  .filter-desktop-line {
    display: none;
  }

  .filter-mobile-line {
    display: block;
    margin: 30px 0 40px;
  }

  .filter-mobile-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .filter-mobile-filters {
    text-align: center;
    font-size: 16px;
  }

  .filter-mobile-sort {
    text-align: center;
    font-size: 16px;
  }

  .filter-mobile-wrapper i {
    font-size: 11px;
    margin-left: 3px
  }
}
