.contacts-section-width .container {
  width: 70%;
}

.contacts-1 {
  margin-top: 190px;
}

.h3-contacts {
  font-size: 20px;
  font-family: 'Museo300';
  margin: 30px 0 10px;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .contacts-section-width .container {
      width: 100%;
  }

  .contacts-1 {
      margin-top: 200px;
  }

  .h3-contacts {
      font-size: 20px;
      margin: 45px 0 20px;
      line-height: 1.4;
  }
}
