.delivery-payment {
  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
  }
}

.delivery-payment-section-width .container {
  width: 70%;
}

.delivery-payment-1 {
  margin-top: 190px;
}

img.delivery-payment-icon {
  width: 70px;
  margin: 0 auto;
  display: block;
}

.row-border-bottom {
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0;

  &:first-child {
    padding-top: 0;
  }
}

.p-regular.p-delivery-paymen-icon-p {
  margin: 0;
  padding: 12px 0 0;
}

img.delivery-payment-list-img {
  width: 100%;
  margin: 0 0 30px;
}

.here-a {
  font-family: 'Museo300';
  margin-bottom: 20px;
  font-size: 16px;   
}

@media screen and (max-width: 768px) {
  .delivery-payment-section-width .container {
      width: 100%;
  }

  .delivery-payment-1 {
      margin-top: 145px;
  }

  .p-regular.p-delivery-paymen-icon-p {
      padding: 0;
  }
}