.home-slider {
  margin: 190px 0 0;
}

.home-s-w {
  margin-top: 16px;
}

.home-s-w button span {
  font-size: 50px;
}

.home-s-w button.owl-prev {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.home-s-w button.owl-next {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.home-s-w button:focus {
outline: none;
}

.goods-row {
margin: 0 0 30px 0;
}

.goods-row img {
  width: 100%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffeb02;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}

.home-goods {
  &--mobile {
    display: none;
  }
}

.home-recent {
  margin-top: 40px;

  &__slides-row {
    margin-top: 20px;
  }
}

.home-suggestions {
  margin-top: 40px;

  &__products-row {
    &--first {
      margin-top: 20px;
    }

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-slider {
    margin-top: 145px;
  }

  .home-goods .container {
    padding: 0;
  }

  .goods-row {
    margin: 0;
  }

  .goods-row img {
    margin: 0 0 25px;
  }

  .home-goods {
    &--desktop {
      display: none;   
    }

    &--mobile {
      margin-top: 30px;
      display: block;
    }
  }
}
