.personal-cabinet {
  padding: 40px 0;
  margin: 190px 0 0;
}

.personal-cab-wrap {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.personal-cab-wrap h1 {
  margin: 0 0 30px;
  font-family: "Museo300";
  font-size: 28px;
  text-align: center;
}

label.personal-cab-label {
  font-size: 16px;
  color: #808080;
  font-weight: 100;
}

input.personal-cab-input {
  padding: 7px 5px;
  border: none;
  border-bottom: 2px solid #808080;
  font-size: 16px;
  outline: none;
}

input.personal-cab-input:focus {
  border-color: #ffeb02;
}

p.personal-cab-under-input {
  font-size: 16px;
  color: #808080;
  font-weight: 100;
  margin: 10px 0;
}

button.personal-cab-button {
  color: #FFFFFF;
  background-color: #1771B8;
  padding: 14px 30px;
  border: 2px solid #1771B8;
  font-size: 16px;
  margin: 15px 0 0;;
  border-radius: 5px;
  &-create{
    margin-top:20px;
    border: 2px solid #1771B8;
    box-sizing: border-box;
    border-radius: 5px;
    color: #1771B8;
    padding: 14px 30px;
    background-color: #FFFFFF;
  }
}

button.personal-cab-button[disabled] {
  cursor: not-allowed;
  color: #808080;
  background-color: #f9f9f9;
  padding: 14px 30px;
  border: 2px solid #eaeaea;
  font-size: 16px;
  margin: 15px 0 0;
}

@media screen and (max-width: 768px) {
  .personal-cabinet {
    margin: 200px 0 0;
  }

  .personal-cab-wrap h1 {
    font-size: 24px;
    margin: 0 0 15px;
  }
}
