.return-exchange-section-width .container {
  width: 70%;
}

.return-exchange-1 {
  margin-top: 190px;
}

.h3-return-exchange {
  font-size: 24px;
  font-family: 'Museo300';
  margin: 30px 0 20px;
}

.return-exchange {
  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .return-exchange-section-width .container {
      width: 100%;
  }
  
  .return-exchange-1 {
      margin-top: 200px;
  }
  
  .h3-return-exchange {
      font-size: 20px;
      margin: 40px 0 20px;
      line-height: 1.4;
  }
}